<h1>Sobre</h1>
<p>Este software web fornece as seguintes funcionalidades:</p>
<ul>
  <li>Cadastrar partida</li>
  <li>Dar lance e validar lance de placar</li>
  <li>Dar lance e validar lance de quantidade de gols de um jogador</li>
  <li>Apresentar estatísticas de lances</li>
</ul>

<div class="alert alert-warning">
  <strong><i class="fa fa-warning"></i> Aviso:</strong> Este software é fornecido como demonstração prática de recursos do framework Angular e não deve
  ser considerado como funcional e nem livre de erros. Entretanto, pode servir como base para outros projetos e
  trabalhos de sala de aula.
</div>
