<div *ngIf="partida">
  <div class="float-right">
    <a class="btn btn-primary" [routerLink]="['/partidas', partida.id]">Detalhes</a>
  </div>
  <h1>
    <img [src]="partida.mandante.escudo" height="64">
    {{partida.mandante.nome}}
    vs.
    <img [src]="partida.visitante.escudo" height="64">
    {{partida.visitante.nome}}</h1>
  <div class="text-muted"><i class="fa fa-clock-o"></i> {{partida.data}} às {{partida.horario}}</div>
  <hr>
  <p>Qual seu palpite de placar?</p>
  <div class="alert alert-success" *ngIf="resultado === true">
    <strong>Parabéns!</strong> Palpite correto.
  </div>
  <div class="alert alert-danger" *ngIf="resultado === false">
    <strong>Ooops!</strong> Não foi dessa vez. Palpite incorreto.
  </div>
  <form #palpite="ngForm" (submit)="verificar()">
    <div class="form-group">
      <label for="usuario">Usuário</label>
      <input type="text" name="usuario" id="usuario" [(ngModel)]="usuario" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="golsDoMandante">Quantidade gols do <strong>mandante</strong></label>
      <input type="number" name="golsDoMandante" id="golsDoMandante" [(ngModel)]="golsDoMandante" class="form-control"
             min="0" required>
    </div>
    <div class="form-group">
      <label for="golsDoVisitante">Quantidade gols do <strong>visitante</strong></label>
      <input type="number" name="golsDoVisitante" id="golsDoVisitante" [(ngModel)]="golsDoVisitante"
             class="form-control" min="0" required>
    </div>
    <div>
      <button class="btn btn-primary" [disabled]="!palpite.valid">Verificar</button> &nbsp;
      <button class="btn btn-warning" type="button" (click)="limpar()" [disabled]="!palpite.valid">Limpar</button>
    </div>
  </form>
</div>
