<div *ngIf="partida">
  <div class="float-right">
    <a class="btn btn-primary" [routerLink]="['/partidas', partida.id]">Detalhes</a>
  </div>
  <h1>
    <img [src]="partida.mandante.escudo" height="64">
    {{partida.mandante.nome}}
    vs.
    <img [src]="partida.visitante.escudo" height="64">
    {{partida.visitante.nome}}</h1>
  <div class="text-muted"><i class="fa fa-clock-o"></i> {{partida.data}} às {{partida.horario}}</div>
  <hr>
  <h3>Estatísticas</h3>
  <table class="table table-bordered">
    <tbody>
    <tr>
      <td><strong>Quantidade de palpites</strong></td>
      <td>{{partida.estatisticas.quantidadeDePalpites}}</td>
    </tr>
    <tr>
      <td><strong>Porcentagem de palpites corretos</strong></td>
      <td>{{partida.estatisticas.porcentagemDePalpitesCorretos * 100}} %</td>
    </tr>
    <tr>
      <td><strong>Porcentagem de palpites incorretos</strong></td>
      <td>{{partida.estatisticas.porcentagemDePalpitesIncorretos * 100}} %</td>
    </tr>
    <tr>
      <td><strong>Usuário com mais acertos</strong></td>
      <td>{{partida.estatisticas.usuarioTop}}</td>
    </tr>
    </tbody>
  </table>
</div>
